* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

.before-background{
    width: 100vw;
    height: 100vh;
    background-image:url('asset/Before.png') ;
    background-size: cover;
    background-position: center;
}

.after-background{
    width: 10vw;
    height: 100%;
    background-image: url('asset/After.png');
    background-size: 100vw;
    background-position: left;
    border-right: 3px solid #3d1bff;
}

